<h1>1.明治神宮野球場</h1><h4><%= link_to "詳細へ", balls_jingu_path %></h4>
<h1>2.東京ドーム</h1><h4><%= link_to "詳細へ", balls_tokyo_path %></h4>
<h1>3.横浜スタジアム</h1><h4><%= link_to "詳細へ", balls_hama_path %></h4>
<h1>4.ベルーナドーム</h1><h4><%= link_to "詳細へ", balls_beruna_path %></h4>
<h1>5.zozoマリンスタジアム</h1><h4><%= link_to "詳細へ", balls_chiba_path %></h4>
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<%= link_to "球場診断をしてみる", perfumes_index_path %>

<!DOCTYPE html> 
<html lang="ja">

<div class="A">
 <div class="image1">