<%= form_for @ball1 do |t| %>
  <div class="field">
    <%= t.label :body %>
    <%= t.text_field :review1, :size => 140 %>
  </div>
  <%= t.submit "Tweetする" %>
<% end %>
<%= link_to "Tweet一覧に戻る", balls_beruna_path %>
