<!DOCTYPE html>
<html>
  <head>
    <title>LoveBaseball</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
     <h1>LOVASEBALL</h1>
     <div class="header-list">
     <ul>
      <li><%= link_to "ホーム", balls_top_path %></li>      
     </ul>
     </div>
   </header>
    <%= yield %>
  </body>

  <footer>
    <small>©CSS Seminar</small>
  </footer>
</html>
